<p>You have successfully created a new student record:</p>
<p>Student Number: <%= @student.id() %></p>
<p>Student Name: <%= @student.pretty_name() %></p>
<p>Student Age: <%= @student.age() %></p>
<p>Student House: <%= @student.house() %></p>
