<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Welcome To Hogwarts</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Hogwarts</h1>
      <nav>
        <ul>
          <li> <a href="/students">Student Registry</a> </li>
          <li> <a href="/students/new">Enrol New Student</a> </li>
        </ul>
      </nav>
      <hr/>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
