<form class="" action="/students" method="post">
  <label for="first_name_input">First name: </label>
  <input type="text" name="first_name" value="" id="first_name_input"/>
  <br/>
  <label for="second_name_input">Second name: </label>
  <input type="text" name="second_name" value="" id="second_name_input"/>
  <br/>
  <label for="age_input">Age: </label>
  <input type="number" name="age" value="" min="11" max ="99" id="age_input"/>
  <br/>
  <label for="house_input">House: </label>
  <select class="" name="house" id="house_input">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
  </select>
  <br/>
  <input type="submit" value="Create Student Record">
</form>
